.dashboard-container {
  max-width: 800px;
  margin: auto;
  margin-top: 50px;
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.dashboard-header {
  text-align: center;
  margin-bottom: 20px;
}

.dashboard-header h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.dashboard-header p {
  font-size: 18px;
  color: #777;
}

.dashboard-content {
  display: flex;
  justify-content: space-between;
}

.bank-accounts,
.crypto-prices {
  flex: 1;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.bank-accounts h3,
.crypto-prices h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.bank-accounts ul,
.crypto-prices ul {
  list-style: none;
  padding: 0;
}

.bank-accounts li,
.crypto-prices li {
  font-size: 16px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #f5f5f5;
}

.bank-accounts li:last-child,
.crypto-prices li:last-child {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .dashboard-content {
    flex-direction: column;
  }

  .bank-accounts,
  .crypto-prices {
    width: 100%;
    margin-bottom: 20px;
  }
}
